.container{
    margin: 0 auto;
    max-width:400px;

}

body{
    background: #352f5b;
}

.delete{
cursor: pointer;
margin:-10px;
padding:10px;
}

.filtered{
    display:none !important;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border:none;
    background: rgba(0,0,0,0.2);
    max-width:400px;
}

.search{
    /* position:absolute; */
}

.search-div{
    margin-right:-17px;
}

.todos li{
    background: #423a6f;

}

.cancelBtn{
    color:#ddd;
    margin:-10px;
    padding:10px;
    position:relative;
    right:37px;
    cursor: pointer;
    visibility:hidden;
}

.show{
    visibility: visible !important;
}