.container{
    margin: 0 auto;
    max-width:400px;

}

body{
    background: #7bd
}

.delete{
cursor: pointer;
margin:-10px;
padding:10px;
}

.filtered{
    display:none !important;
}

.search{
    /* position:absolute; */
}

.ramka{
    margin-right:-17px;
}

.cancelBtn{
    color:#555;
    margin:-10px;
    padding:10px;
    position:relative;
    right:37px;
    cursor: pointer;
    visibility:hidden;
}

.show{
    visibility: visible !important;
}